body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #1f1f1f;
  background: #fff;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-size: 24px;
  color: #4c793c;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  color: #1f1f1f;
  font-weight: normal;
}
h4 {
  font-size: 12px;
  color: #4c793c;
  text-align: center;
  font-weight: normal;
}
.sticky {
  position: fixed;
  top: 0;
  margin-top: 30px;
}
.current,
.active {
  color: #5c9a62;
}
.left {
  float: left;
  position: relative;
}
.right {
  float: right;
  position: relative;
}
.btn {
  padding: 10px 30px;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #6caf64;
}
.btn:hover {
  background: #8cc086;
}
.more {
  font-size: 13px;
  color: #6c856a;
}
.more:hover {
  color: #5c9a62;
}
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.divider {
  width: 116px;
  height: 10px;
  margin: 15px auto;
  background: url('../img/divider.png') center center no-repeat;
}
.block {
  padding: 60px 0;
  text-align: center;
}
.block section {
  margin-bottom: 25px;
}
.block h2 {
  margin: 0;
  padding: 0;
}
.block p {
  padding: 5px;
}
.bg1 {
  background: url('../img/bg1.jpg') no-repeat center top #ffffff;
}
.bg2 {
  background: url('../img/bg2.jpg') no-repeat center top #f4fbf7;
}
.bg3 {
  background: url('../img/bg3.jpg') no-repeat center top #ffffff;
}
.bg4 {
  background: url('../img/bg4.png') no-repeat center top #ffffff;
}
.leftcol {
  float: left;
  width: 250px;
  margin: 0 10px;
}
.rightcol {
  float: right;
  width: 670px;
  margin: 0 10px;
}
.popup-modal {
  display: none;
  width: 350px;
  height: 115px;
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -57.5px;
  margin-left: -150px;
  background: #6caf64;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 10;
  text-align: center;
}
.popup-modal .modal-title {
  margin: 10px;
  padding: 0;
  font-weight: normal;
  color: #fff;
  font-size: 24px;
}
.popup-modal .modal-body {
  padding: 5px;
}
.popup-modal .modal-body p {
  color: #fff;
  font-size: 13px;
}
.gl-header-wrapper {
  min-height: 106px;
  position: relative;
}
#slider {
  width: 100%;
  height: 390px;
  position: relative;
  overflow: hidden;
}
#slider .slide {
  margin: 0;
  padding: 0;
  left: 50% !important;
  margin-left: -960px;
}
#slider .slide img {
  width: 1920px;
  height: 390px;
}
#slider .slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#slider .figcaption-wrapper {
  width: 515px;
  height: 125px;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -277.5px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}
#slider .figcaption-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#slider .prewbutton,
#slider .nextbutton {
  display: block;
  width: 10px;
  height: 19px;
  position: absolute;
  top: 50%;
  margin-top: -9.5px;
  opacity: 0.5;
}
#slider .prewbutton:hover,
#slider .nextbutton:hover {
  opacity: 1;
}
#slider .prewbutton {
  left: -15px;
  background: url('../img/arrow-left.png') no-repeat center center;
}
#slider .nextbutton {
  right: -15px;
  background: url('../img/arrow-right.png') no-repeat center center;
}
#slider figcaption span {
  font-size: 12px;
  color: #6c856a;
}
#slider figcaption article p {
  font-size: 13px;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
#slider figcaption h3 {
  margin: 5px 0;
}
header.gl {
  width: 100%;
  position: absolute;
  top: 0;
  background: url('../img/bgheader.png') no-repeat center top;
}
header.gl hgroup {
  width: 440px;
  margin-left: 250px;
  float: left;
}
header.gl hgroup h1 {
  margin-bottom: 5px;
}
header.gl hgroup h4 {
  margin-top: 0;
  margin-bottom: 35px;
}
header.gl address {
  width: 130px;
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}
address {
  font-style: normal;
}
address span {
  display: block;
  color: #4c793c;
  margin-bottom: 3px;
}
.mainmenu {
  text-align: left;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  margin: 0 0 13px 0;
}
.mainmenu ul li a {
  font-size: 14px;
  color: #2c4a2f;
}
.mainmenu ul li a:hover {
  color: #5c9a62;
}
.mainmenu .nested {
  display: none;
  margin: 15px 0;
}
.mainmenu .nested li {
  margin-bottom: 7px;
}
.mainmenu .nested li a {
  font-size: 12px;
}
.mainmenu .nested.collapsed-false {
  display: block;
}
section.gallery a {
  float: left;
  margin: 0 1px 8px 5px;
  vertical-align: top;
}
section.services-links {
  padding-top: 30px;
  margin-bottom: 0;
}
section.services-links a {
  display: block;
  width: 150px;
  height: 120px;
  float: left;
  vertical-align: top;
  margin-right: 9px;
  margin-left: 8px;
  margin-bottom: 20px;
  text-align: center;
}
section.services-links a figure {
  margin: 0;
}
section.services-links a figcaption {
  font-size: 12px;
  color: #487543;
}
section.services-links a .fill-wrapper {
  height: 75px;
}
section.services-links a:hover {
  opacity: 0.7;
}
footer {
  padding: 150px 0 95px 0;
  background: url('../img/bgfooter.jpg') no-repeat center top #ffffff;
}
footer address {
  margin-top: 25px;
}
footer .hodlogo {
  display: block;
  width: 96px;
  height: 64px;
  position: absolute;
  left: 0;
  background: url('../img/hodlogo.png') no-repeat center center;
  bottom: -90px;
}
.feedback .name,
.feedback .phone,
.feedback .email {
  display: block;
  width: 300px;
  height: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 12px;
  background: rgba(102, 166, 95, 0.25);
  color: #364c2e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.feedback .message {
  display: block;
  width: 300px;
  height: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 12px;
  background: rgba(102, 166, 95, 0.25);
  color: #364c2e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
  resize: none;
}
.feedback .btn {
  border: none;
}
