body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #1f1f1f;
	background: #fff;
}
a {
	text-decoration: none;
}
h1, h2 {
	font-size: 24px;
	color: #4c793c;
	text-align: center;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	color: #1f1f1f;
	font-weight: normal;
}
h4 {
	font-size: 12px;
	color: #4c793c;
	text-align: center;
	font-weight: normal;
}
.sticky {
	position: fixed;
	top: 0;
	margin-top: 30px;
}
.current, .active {
	color: lighten(#2c4a2f, 25%);
}
.left {
	float: left;
	position: relative;
}
.right {
	float: right;
	position: relative;
}
.btn {
	padding: 10px 30px;
	font-size: 14px;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #6caf64;
}
.btn:hover {
	background: lighten(#6caf64, 10%);
}
.more {
	font-size: 13px;
	color: #6c856a;
}
.more:hover {
	color: lighten(#2c4a2f, 25%);
}
.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.clearfix {
	clear: both;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.divider {
	width: 116px;
	height: 10px;
	margin: 15px auto;
	background: url('../img/divider.png') center center no-repeat;
}
.block {
	padding: 60px 0;
	text-align: center;

	section {
		margin-bottom: 25px;
	}

	h2 {
		margin: 0;
		padding: 0;
	}
	p {
		padding: 5px;
	}
}
.bg1 {
	background: url('../img/bg1.jpg') no-repeat center top #fff;
}
.bg2 {
	background: url('../img/bg2.jpg') no-repeat center top #f4fbf7;
}
.bg3 {
	background: url('../img/bg3.jpg') no-repeat center top #fff;
}
.bg4 {
	background: url('../img/bg4.png') no-repeat center top #fff;
}
.leftcol {
	float: left;
	width: 250px;
	margin: 0 10px;
}
.rightcol {
	float: right;
	width: 670px;
	margin: 0 10px;
}
.popup-modal {
	display: none;
	width: 350px;
	height: 115px;
	padding: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -57.5px;
	margin-left: -150px;
	background: #6caf64;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	z-index: 10;
	text-align: center;

	.modal-title {
		margin: 10px;
		padding: 0;
		font-weight: normal;
		color: #fff;
		font-size: 24px;
	}
	.modal-body {
		padding: 5px;

		p {
			color: #fff;
			font-size: 13px;
		}
	}
}


.gl-header-wrapper {
	min-height: 106px;
	position: relative;
}
#slider {
	width: 100%;
	height: 390px;
	position: relative;
	overflow: hidden;

	.slide {
		margin: 0;
		padding: 0;
		left: 50% !important;
		margin-left: -960px;

		img {
			width: 1920px;
			height: 390px;
		}
	}
	.slide-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.figcaption-wrapper {
		width: 515px;
		height: 125px;
		padding: 10px 20px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -277.5px;
		background: #fff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		text-align: center;
	}
	.figcaption-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.prewbutton, .nextbutton {
		display: block;
		width: 10px;
		height: 19px;
		position: absolute;
		top: 50%;
		margin-top: -9.5px;
		opacity: 0.5;
	}
	.prewbutton, .nextbutton {
		&:hover {
			opacity: 1;
		}
	}
	.prewbutton {
		left: -15px;
		background: url('../img/arrow-left.png') no-repeat center center;
	}
	.nextbutton {
		right: -15px;
		background: url('../img/arrow-right.png') no-repeat center center;
	}
	figcaption {

		span {
			font-size: 12px;
			color: #6c856a;
		}
		article {

			p {
				font-size: 13px;
				padding: 0 0 5px 0;
				margin: 0 0 5px 0;
			}
		}
		h3 {
			margin: 5px 0;
		}
	}

}
header.gl {
	width: 100%;
	position: absolute;
	top: 0;
	background: url('../img/bgheader.png') no-repeat center top;

	hgroup {
		width: 440px;
		margin-left: 250px;
		float: left;

		h1 {
			margin-bottom: 5px;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 35px;
		}
	}
	address {
		width: 130px;
		float: right;
		margin-right: 80px;
		margin-top: 10px;
	}
}
address {
	font-style: normal;

	span {
		display: block;
		color: #4c793c;
		margin-bottom: 3px;
	}
}

.mainmenu {
	text-align: left;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0 0 13px 0;

			a {
				font-size: 14px;
				color: #2c4a2f;
			}
			a:hover {
				color: lighten(#2c4a2f, 25%);
			}
		}
	}
	.nested {
		display: none;
		margin: 15px 0;

		li {
			margin-bottom: 7px;

			a {
				font-size: 12px;
			}
		}
	}
	.nested.collapsed-false {
		display: block;
	}
}
section.gallery {

	a {
		float: left;
		margin: 0 1px 8px 5px;
		vertical-align: top;

	}
}
section.services-links {
	padding-top: 30px;
	margin-bottom: 0;

	a {
		display: block;
		width: 150px;
		height: 120px;
		float: left;
		vertical-align: top;
		margin-right: 9px;
		margin-left: 8px;
		margin-bottom: 20px;
		text-align: center;

		figure {
			margin: 0;
		}
		figcaption {
			font-size: 12px;
			color: #487543;
		}
		.fill-wrapper {
			height: 75px;
		}
	}
	a:hover {
		opacity: 0.7;
	}
}
footer {
	padding: 150px 0 95px 0;
	background: url('../img/bgfooter.jpg') no-repeat center top #fff;

	address {
		margin-top: 25px;
	}
	.hodlogo {
		display: block;
		width: 96px;
		height: 64px;
		position: absolute;
		left: 0;
		background: url('../img/hodlogo.png') no-repeat center center;
		bottom: -90px;
	}
}
.feedback {

	.name, .phone, .email {
		display: block;
		width: 300px;
		height: 20px;
		padding: 5px 10px;
		margin-bottom: 10px;
		font-size: 12px;
		background: rgba(102, 166, 95, 0.25);
		color: #364c2e;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		border: none;
		outline: none;
	}
	.message {
		display: block;
		width: 300px;
		height: 100px;
		padding: 5px 10px;
		margin-bottom: 10px;
		font-size: 12px;
		background: rgba(102, 166, 95, 0.25);
		color: #364c2e;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		border: none;
		outline: none;
		resize: none;
	}
	.btn {
		border: none;
	}
}